{% extends "base.html" %}

{% block content %}
    <h1>Edit task {{ task.title }}</h1>

    <form id="edit_task_form" method="post" action=".">
        {% csrf_token %}
        {{ edit_task_form.as_p }}
        <input type="submit" value="Edit task">
    </form>

{% endblock %}