{% extends "base.html" %}

{% block content %}
    <h1>Tasks of {{ user.username }} {{ user.lastname }}</h1>

    <form id="filter_form" method="get" action=".">
        <label for="id_state">Show:</label>
        <select class="form-control" id="filter" name="filter">
            <option value="all" selected="selected">All</option>
            <option value="0">Pending</option>
            <option value="1">Expired</option>
            <option value="2">Completed</option>
        </select>
        <input type="submit" value="Filter">
    </form>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if task_list %}
        <table class="table table-striped sortable-theme-bootstrap" data-sortable>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>State</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task in task_list %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.date }}</td>
                        <td>
                            {% if task.state == 0 %}
                                {% if task.date > now %}
                                    Pending
                                {% else %}
                                    Expired
                                {% endif %}
                            {% elif task.state == 1 %}
                                Expired
                            {% elif task.state == 2 %}
                                Completed
                            {% else %}
                                Unknown
                            {% endif %}
                        </td>
                        <td><a href="/tasks/edit/{{ task.id }}/">edit</a></td>
                        <td><a href="/tasks/delete/{{ task.id }}/">del</a></td>
                        <td><a href="/tasks/complete/{{ task.id }}/">ok</a></td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <blockquote>
             <p>You don't have tasks.</p>
             <small>You can add one with the form below.</small>
        </blockquote>
    {% endif %}


    <form action="/tasks/delete_all">
        <input type="submit" value="Delete all">
    </form>

    <h3>Add a new task:</h3>
    <form id="task_form" method="post" action=".">
        {% csrf_token %}
        {{ new_task_form.as_p }}
        <input type="submit" value="New task">
    </form>

{% endblock %}