/* Custom css for YTL */

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
    background-size: auto 80%;
	font-family: sans-serif;
	font-size: 16px;
    font-style: normal;
	font-weight: 400;
	padding-left:0px;
	padding-right:0px;
}

.center { /*Container of all */
	display: block;
	float: left;
	margin-bottom: 40px;
    margin-top: 40px;
}

.container {
    padding-top: 10px;
    margin-top: 10px;
}
