{%  load staticfiles %}
    <title> Task manager </title>

    <!--favicon-->

    <!--Style sheets insertions-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/sortable-theme-bootstrap.css' %}" type="text/css"/>

    <!--Javascript-->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery_code.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sortable.min.js' %}"></script>