<!--navbar-->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="span12">
                <a href="/">Task Manager</a>

                    <ul class="nav pull-right separated">
                        <ul class="nav">
                        {% if user.is_authenticated %}
                            <li><a href="/users/logout">logout</a></li>
                        {% else %}
                            <li><a href="/users/signin">sign in</a></li>
                            <li><a href="/users/login">login</a></li>
                        {% endif %}
                        </ul>
                    </ul>

            </div>
        </div>
    </div>
</div>
