{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
    <p>Your username and password didn't match.
        Please try again.</p>
    {% endif %}
    <form id="login_form" method="post" action=".">
        {% csrf_token %}
        {{ login_form.as_p }}
        <input type="submit" value="Send">
    </form>
{% endblock %}
