{% extends "base.html" %}

{% block content %}
    <h1>Sign in</h1>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if form.errors %}
    <p>Your data is not correct. Please try again.</p>
    {% endif %}
    <form id="signin_form" method="post" action=".">
        {% csrf_token %}
        {{ signin_form.as_p }}
        <input type="submit" value="Create user">
    </form>
{% endblock %}
