<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    {% include "includes/head.html" %}
</head>
<body>
    {% include "includes/navbar.html" %}
    <div class="container">
        <div class="span12">
            <div class="center">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

