{% extends "base.html" %}

{% block content %}
    <h1>Welcome to "Simple Task Manager"</h1>
    <h3>Introduction</h3>
    <p>Hi! Welcome to Simple Task Manager. It's a simple TO-DO list where you can manage your tasks.</p>
    <h3>Log in/Sign in</h3>
    <p>For use this web app, you can sign in <a href="{% url "signin" %}">here</a> and you can
        log in <a href="{% url 'login' %}">here</a>. </p>
    <h3>About</h3>
    <p>This page is for a challenge for technical interview.</p>
{% endblock %}